
.titre_nombre_etudiants{
    font: bold 150%/120% arial,helvetica,sans-serif;
    padding-bottom: 0;
    padding-top: .75rem;
    padding-bottom: 0;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
    margin-bottom: 0;

}

.bloc_sous_menu_dashbord{
    padding-left: 50px;
}

.graph{
    height: 350px;
}

.graph tbody{
    height: 325px;
}

.bloc_boutons{
    margin-top: 0;
}

.limiter{
    margin-top: 40px;
    margin-left: 20px;
}

.limiter thead th:nth-child(3){
    width: 20%;
}

.limiter thead th:nth-child(4){
    width: 20%;
}

.limiter thead th:nth-child(5){
    width: 25%;
}


.limiter tbody td:nth-child(3){
    width: 20%;
}

.limiter tbody td:nth-child(4){
    width: 20%;
}

.limiter tbody td:nth-child(5){
    width: 25%;
}

#taux_reussite_total{
    margin-top: 100px;
}

.container_champs_paiement{
    width: 25%;
    /* border: none; */
}

.container_champs_paiement .custom-select{
    /* border: none; */
}

.champs_text_paiement{
    padding-right: 10px;
    border: none;
}


/*modificaiton emploie de temps */

.entete_apercu{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 70px;
}

#apercu{
	display: inline-block;
	width: fit-content;
	width: 20%;
	font-weight: 300;	
}

#nom_classe{
	display: inline-block;
	text-align: center;
	width: 60%;
	color: #05386B;
	padding-top: 0;
}


.limiter thead th{
    text-align: center;
}

.limiter thead th:nth-child(1){
    width: 25%;
}
.limiter thead th:nth-child(2){
    width: 15%;
    
}
.limiter thead th:nth-child(3){
    width: 15%;
    
}
.limiter thead th:nth-child(4){
    width: 15%;
    
}
.limiter thead th:nth-child(5){
    width: 15%;
    
}
.limiter thead th:nth-child(6){
    width: 15%;
    
}


.limiter tbody td{
	text-align: center;
	height: 80px;
}

.limiter tbody td:nth-child(1){
	width: 25%;
	font-weight: 600;
}
.limiter tbody td:nth-child(2){
    width: 15%;
    
}
.limiter tbody td:nth-child(3){
    width: 15%;
    
}
.limiter tbody td:nth-child(4){
    width: 15%;
    
}
.limiter tbody td:nth-child(5){
    width: 15%;
    
}
.limiter tbody td:nth-child(6){
    width: 15%;
    
}


.modifier_emploi{
	margin-top: 30px;
	text-align: center;
	margin-left: 50px;
}

.modifier_emploi button{
	padding:  10px 40px;
}

#table_modif_emploie .custom-select{
	/* border: none; */
	width: 80%;
}


#table_modif_emploie .champs_text_paiement{
	padding-left: 2px;
	padding-right: 2px;
}