.procedure{
    padding: 10px 30px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* max-width: 62.15vw; */
    margin-bottom: 19px;
}

.titre_procedure{
    opacity: 0.9;
    color: #061730;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 30px;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}

.corps_procedure p{
    margin: 0;
    margin-top: 5px;
}

/* reponsive procédures */

@media (max-width: 1024px){
    .procedure{
        max-width: 100%;
    }
}

@media (max-width: 320px){
    .titre_procedure{
        font-size: 15px;
    }
    .bloc_contenu_dashbord{
        font-size: 14px;
    }
}

