.procedure{
    padding: 10px 30px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 62.15vw;
    margin-bottom: 19px;
}

.titre_procedure{
    opacity: 0.9;
    color: #061730;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 30px;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}

.corps_procedure p{
    margin: 0;
    margin-top: 5px;
}


.entete_documents{
    justify-content: initial;
}

.nom_fichier:nth-child(1), .nom_fichier_corps:nth-child(1){
    width: 45%;
    padding-left: 19px;
    padding-right: 19px;
}

.envoyer_le:nth-child(2), .envoyer_le_corps:nth-child(2){
    width: 30%;
}

.heure_entete:nth-child(3), .heure_corps:nth-child(3){
    width: 10%;
}

.action:nth-child(4), .action_corps:nth-child(4){
    text-align: right;
    width: 15%;
}

.bouton_tableau{
    margin-right: 25px;
    text-align: right;
}

.action{
    padding-right: 20px;
}

.container_boutons_tableau{
    justify-content: flex-end;
}
/* reponsive procédures */

@media (max-width: 1160px){
    .action{
        padding-right: 0px;
    }
    
}

@media (max-width: 1024px){
    .procedure{
        max-width: 100%;
    }

    
    .nom_fichier:nth-child(1), .nom_fichier_corps:nth-child(1){
        width: 50%;
        padding-left: 19px;
        padding-right: 19px;
    }

    .envoyer_le:nth-child(2), .envoyer_le_corps:nth-child(2){
        width: 25%;
    }

    .heure_entete:nth-child(3), .heure_corps:nth-child(3){
        width: 15%;
    }

    .action:nth-child(4), .action_corps:nth-child(4){
        text-align: right;
        width: 10%;
    }
}

@media (max-width: 768px){
    .nom_fichier:nth-child(1), .nom_fichier_corps:nth-child(1){
        width: 50%;
        padding-left: 19px;
        padding-right: 19px;
    }

    .envoyer_le:nth-child(2), .envoyer_le_corps:nth-child(2){
        width: 25%;
    }

    .heure_entete:nth-child(3), .heure_corps:nth-child(3){
        width: 15%;
    }

    .action:nth-child(4), .action_corps:nth-child(4){
        text-align: right;
        width: 10%;
    }
}

@media (max-width: 617px){
    .nom_fichier:nth-child(1), .nom_fichier_corps:nth-child(1){
        width: 50%;
        padding-left: 19px;
        padding-right: 19px;
    }

    .envoyer_le:nth-child(2), .envoyer_le_corps:nth-child(2){
        width: 30%;
    }

    .heure_entete:nth-child(3), .heure_corps:nth-child(3){
        width: 20%;
    }

    .action:nth-child(4), .action_corps:nth-child(4){
        text-align: right;
        width: 10%;
    }
}

@media (max-width: 320px){
    .titre_procedure{
        font-size: 15px;
    }
    .bloc_contenu_dashbord{
        font-size: 14px;
    }
}

.liste_type_2 a{
    border-bottom: solid 1px #55EFC4;
    background-color: rgba(85,239,196,0.2);
    color: #05386B;
}

.liste_type_2 li a{
    border-bottom: solid 1px #55EFC4;
    background-color: rgba(85,239,196,0.2);
}

@media (max-width: 780px){
    .entete_corps_dashbord{
        flex-direction: column;
        align-items: flex-start;
    }
    .bloc_boutons{
        margin-top: 20px;
    }
}

@media (max-width: 480px){
    #envoyer_document{
        font-size: 14px;
    }

    .liste_type_2 li:nth-child(1){
        width: 40%;
    }
    .liste_type_2 li:nth-child(2){
        width: 60%;
    }

    .ligne_document{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .action:nth-child(4), .action_corps:nth-child(4){
        position: absolute;
        top: 23px;
        right: 15px;
        width: fit-content;
    }

    .nom_fichier:nth-child(1), .nom_fichier_corps:nth-child(1){
        width: calc(100% - 45px);
        padding: 0;
    }

    .envoyer_le:nth-child(2), .envoyer_le_corps:nth-child(2){
        width: calc(60% - 20px);
        margin-top: 10px;
    }

    .heure_entete:nth-child(3), .heure_corps:nth-child(3){
        width: calc(40% - 20px);
        margin-top: 10px;
    }

    .container_boutons_tableau{
        display: inline-block;
    }

    .bouton_tableau{
        margin-right: 0;
    }

    .container_boutons_tableau i{
        color: #55EFC4;
    }

    .action_corps .dropdown{
        display: none;
    }

    .bouton_tableau:hover .info{
        display: none;
    }
}


.menu_action_responsive{
    min-width: 52vw;
    left: 5px !important;
    top: -15px !important;
    border: none;
    padding-top: 15px;
    padding-bottom: 0;
    overflow: hidden;
    border-radius: 10px;
}
